// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error {
    background: red;
}

.notice {
    background: red;
}

.rankings {
    border: 1px solid blue;
    border-collapse:collapse;
    th {
        padding:5px;
    }
    td {
        padding:5px;
    }
}

.info {
    text-align:center;
    width:50%;
}
