// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profileinfo {
    float: left;
    width: 50%;
}

.profileinfo tr:nth-child(odd) {
    background-color: #B8CDE3;
}

.profileimg {
    float: right;
    width: 50%;
    height: 200px;
    text-align: middle;
}


.profileimg img{
	 vertical-align: middle;
	 max-height: 200px;
}


#helper{
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}